* {
box-sizing: border-box;
margin: 0;
text-align: center; }


.works {
    width: 100%;
    height: 100vh;
    background-image: url("./img/fondo\ de\ landing.png");
    color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.textos {
    width: 100%;
    height: 20%;
    align-items: center;
}

.textos h2{

    padding: 1rem;
    font-size: 2rem;
}
.textos p {
    font-size: 0.7rem;
}

.trabajos {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

}


.trabajos a {
    height: 1.5rem;
    width: 55%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    letter-spacing: 0.6;
    font-size: 16px;
    background-color: purple;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    visibility: hidden;
    text-decoration: none;
    margin: 0px;
}


.trabajos .tp1 {
    width: 37.5%;
    height: 35%;
    background-image: url("./img/tp1.png"); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
     margin-bottom: 1rem;
    display: flex;
     align-items: center;
    justify-content: center;
    transition: transform 1s;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    }

.trabajos .tp1:hover {
    transform: scale(1.5);
}

.trabajos .tp1:hover > .boton1{
    opacity: 1;
    visibility: visible;       
}

.trabajos .tp2 {
    width: 37.5%;
    height: 35%; 
    background-image: url("./img/tp2.png"); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-bottom: 1rem; 
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 1s;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.trabajos .tp2:hover {
    transform: scale(1.5);      
}


.trabajos .tp2:hover > .boton2{
    opacity: 1;
    visibility: visible;
}

.trabajos .tp3 {
    width: 37.5%;
    height: 35%; 
    background-image: url("./img/tp3.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-bottom: 1rem; 
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 1s;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.trabajos .tp3:hover {
    transform: scale(1.5);  
}


.trabajos .tp3:hover > .boton3{
    opacity: 1;
    visibility: visible;
}

.trabajos .tp4 {
    width: 37.5%;
    height: 35%;
    background-image: url("./img/tp4.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-bottom: 1rem; 
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 1s;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.trabajos .tp4:hover {
    transform: scale(1.5);      
}

.trabajos .tp4:hover > .boton4{
    opacity: 1;
    visibility: visible;
}

.trabajos .tp5 {
    width: 37.5%;
    height: 35%; 
    background-image: url("./img/tp5.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 1s;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.trabajos .tp5:hover {
    transform: scale(1.5);
}

.trabajos .tp5:hover > .boton5{
    opacity: 1;
    visibility: visible;
}

.contenedor{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
   
}

.contenedor .datos {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.datos h2 {
    height: 10%;
    width: 100%;
    font-size: 3rem;
}

.ubicacion1 {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    
}
.ubicacion1 img {
    width: 35px;
    height: 35px;
}

.ubicacion2 {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.ubicacion2 img {
    width: 35px;
    height: 35px;
}

.imagen {
    height: 50%;
    width: 100%;
    background-image: url("./img/imagen.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

footer {
    height: 10%;
    width: 100%;
    background-image: url(./img/BACKGROUND-FOOTER-1.jpg);
    border-top: 1rem;
    border-color: black;
    background-position: center;
    background-size: contain;
}

footer img {
    width: 3rem;
    height: 4rem;
    align-items: center;
}

@media (max-width: 768px) and (min-width: 426px) {
   
    .textos h2{

        padding: 1rem;
        font-size: 4rem;
    }
    .textos p {
        font-size: 1.2rem;
    }
   
    .trabajos {
       flex-wrap: wrap;
       justify-content: space-around;
       overflow: auto;
       flex-direction: row;
   
   }

   .trabajos .tp1{
       width: 28%;
       height: 25%;
       margin: 0;
       padding: 0;
   }

   .trabajos .tp2 {
    width: 28%;
    height: 25%;
    margin: 0;
    padding: 0;
}

.trabajos .tp3 {
    width: 28%;
    height: 25%;
    margin: 0;
    padding: 0;
}

.trabajos .tp4 {
    width: 28%;
       height: 25%;
    margin: 0;
    padding: 0;
}

.trabajos .tp5 {
    width: 28%;
    height: 25%;
    margin: 0;
    padding: 0;
}

.contenedor {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.contenedor .datos {
   
    flex-direction: row;
    flex-wrap: wrap;
}

.ubicacion1 {
    width: 50%;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;  
    padding-left: 1rem;
}

.ubicacion2 {
    width: 50%;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 1rem;
}

.ultimo {
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  
}

.datos h2 {
    padding-bottom: 3rem;
}

.imagen {
    height: 100%;
    width: 70%;
    padding-right: 2rem;}

}

@media (min-width: 769px) {
  
    .textos h2{

        padding: 1rem;
        font-size: 4rem;
    }
    .textos p {
        font-size: 1.2rem;
    }

    .trabajos {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
    }
   
    
   .trabajos .tp1{
    width: 13.5%;
    height: 23.5%;
    margin: 0;
    padding: 0;
}

.trabajos .tp2 {
    width: 13.5%;
    height: 23.5%;
 margin: 0;
 padding: 0;
}

.trabajos .tp3 {
    width: 13.5%;
    height: 23.5%;
 margin: 0;
 padding: 0;
}

.trabajos .tp4 {
    width: 13.5%;
    height: 23.5%;
 margin: 0;
 padding: 0;
}

.trabajos .tp5 {
    width: 13.5%;
    height: 23.5%;
 margin: 0;
 padding: 0;
}

.contenedor {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}

.contenedor .datos {
    flex-direction: row;
    flex-wrap: wrap;
}

.ubicacion1 {
    width: 50%;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;  
    padding-left: 1rem;
}

.ubicacion2 {
    width: 50%;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 1rem;
}

.ultimo {
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  
}

.datos h2 {
    padding-bottom: 5rem;
}

.imagen {
    widht: 100%;
    height: 70%;
}


}